@model WebsiteQLDichVuMobiFone.Models.ChuDe

@{
    ViewData["Title"] = "Thêm Chủ Đề";
}

<h1 class="mb-4 text-primary fw-bold text-center">
    <i class="bi bi-plus-circle"></i> Thêm Chủ Đề
</h1>

<div class="card shadow-lg p-4 rounded-4 border-0">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="TenChuDe" class="form-label"></label>
                    <input asp-for="TenChuDe" class="form-control shadow-sm border-primary" />
                    <span asp-validation-for="TenChuDe" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary shadow-sm px-4">
                        <i class="fa-solid fa-check"></i> Thêm mới
                    </button>
                    <a asp-action="Index" class="btn btn-secondary shadow-sm px-4 ms-2">
                        <i class="fa-solid fa-arrow-left"></i> Quay lại
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
