@model WebsiteQLDichVuMobiFone.Models.GiaoDichNapTien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GiaoDichNapTien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaGiaoDichNapTien" class="control-label"></label>
                <input asp-for="MaGiaoDichNapTien" class="form-control" />
                <span asp-validation-for="MaGiaoDichNapTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsim" class="control-label"></label>
                <select asp-for="Idsim" class ="form-control" asp-items="ViewBag.Idsim"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdnguoiDung" class="control-label"></label>
                <select asp-for="IdnguoiDung" class ="form-control" asp-items="ViewBag.IdnguoiDung"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoTienNap" class="control-label"></label>
                <input asp-for="SoTienNap" class="form-control" />
                <span asp-validation-for="SoTienNap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdtrangThaiThanhToan" class="control-label"></label>
                <select asp-for="IdtrangThaiThanhToan" class ="form-control" asp-items="ViewBag.IdtrangThaiThanhToan"></select>
            </div>
            <div class="form-group">
                <label asp-for="PhuongThucNap" class="control-label"></label>
                <input asp-for="PhuongThucNap" class="form-control" />
                <span asp-validation-for="PhuongThucNap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

