@{
    ViewData["Title"] = "Lịch Sử Hình Thành";
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Giới Thiệu Về MobiFone</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Giới Thiệu</a></li>
            <li class="breadcrumb-item active text-primary">Lịch Sử Hình Thành</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/img/gioithieu/lichsu.jpg" class="img-fluid rounded-start" alt="MobiFone Building">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p>
                                MobiFone được thành lập ngày 16/04/1993 với tên gọi ban đầu là Công ty Thông tin di động. Với
                                lĩnh vực kinh doanh chính là dịch vụ viễn thông di động, MobiFone là nhà mạng di động đầu tiên
                                tại Việt Nam. Ngày 01/12/2014, Công ty được chuyển đổi thành Tổng công ty Viễn thông MobiFone,
                                trực thuộc Bộ Thông tin và Truyền thông, kinh doanh trong các lĩnh vực như viễn thông truyền
                                thống, VAS, Data, Internet & truyền hình IPTV/Cable TV, sản phẩm khách hàng doanh nghiệp, đầu
                                tư công nghệ thông tin, bán lẻ và phân phối.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="row g-0">
                    <h3 class="mb-3">Lịch sử phát triển</h3>

                    <div class="timeline-card">
                        <h5>1993</h5>
                        <ul>
                            <li>Thành lập Công ty Thông tin di động với lĩnh vực kinh doanh chính là dịch vụ viễn thông di động.</li>
                            <li>MobiFone là nhà mạng di động đầu tiên tại Việt Nam với slogan "Mọi lúc - Mọi nơi".</li>
                            <li>Giám đốc: Ông Đinh Văn Phước.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>1994</h5>
                        <ul>
                            <li>Thành lập Trung tâm Thông tin di động Khu vực I tại Hà Nội.</li>
                            <li>Thành lập Trung tâm Thông tin di động Khu vực II tại TP. Hồ Chí Minh.</li>
                            <li>Ra mắt gói cước trả sau đầu tiên tại Việt Nam (MobiGold).</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>1995</h5>
                        <ul>
                            <li>Thành lập Trung tâm Thông tin di động Khu vực III tại Đà Nẵng.</li>
                            <li>Ký hợp đồng hợp tác kinh doanh với Tập đoàn Kinnevik/Comvik (Thụy Điển).</li>
                            <li>Mở rộng vùng phủ sóng trên toàn quốc.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>1996 - 1999</h5>
                        <ul>
                            <li>Hệ thống kỹ thuật trực thuộc Tổng công ty.</li>
                            <li>Được nhận Huân chương Lao động hạng 3 năm 1998.</li>
                            <li>Ra mắt thẻ trả trước đầu tiên tại Việt Nam với gói MobiCard.</li>
                            <li>Khai thác 21 trạm phát sóng mới.</li>
                            <li>Ra mắt website mobifone.com.vn.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2000</h5>
                        <ul>
                            <li>Đổi tần số phát sóng: 268 trạm.</li>
                            <li>Trở thành nhà mạng đầu tiên cung cấp gói khuyến mãi nội mạng.</li>
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2001</h5>
                        <ul>
                            <li>Phủ sóng 61/61 tỉnh thành với tổng số 500 trạm thu phát sóng.</li>
                            <li>Mở rộng cung cấp dịch vụ nhắn tin với mạng MobiFone.</li>
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2002</h5>
                        <ul>
                            <li>Được cấp Chứng chỉ tiêu chuẩn hệ thống chất lượng quản lý chất lượng ISO 9001:2000 về chất lượng mạng lưới.</li>
                            
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2003</h5>
                        <ul>
                            <li>Vinh dự đón nhận Huân chương Lao động hạng Nhì.</li>
                            <li>Ra mắt webportal tại địa chỉ: mobifone.com.vn.</li>
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2004</h5>
                        <ul>
                            <li>Trung tâm Thông tin di động III có số lượng thuê bao lớn nhất tại Đà Nẵng và được Nhà nước trao tặng Huân chương Lao động Hạng Ba.</li>
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2005</h5>
                        <ul>
                            <li>Công ty Thông tin di động ký thanh lý Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik.</li>
                            <li>Nhà nước và Bộ Bưu chính Viễn thông (nay là Bộ Thông tin và Truyền thông) có quyết định chính thức về việc cổ phần hoá Công ty Thông tin di động.</li>
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2006</h5>
                        <ul>
                            <li>Thành lập Trung tâm thông tin di động Khu vực IV tại Cần Thơ.</li>
                            <li>Khởi động chương trình "Kết nối dài lâu" - là nhà mạng tiên phong thực hiện điểm thưởng ưu đãi cho khách hàng.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2007</h5>
                        <ul>
                            <li>Sở hữu 14.300 trạm phát sóng 2G.</li>
                            <li>RockStorm được tổ chức lần đầu tiên, kéo dài 7 năm liên tiếp. Ban tổ chức vinh dự được BTC làm từ thiện.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2008</h5>
                        <ul>
                            <li>Kỷ niệm 15 năm thành lập Công ty Thông tin di động.</li>
                            <li>Thành lập Trung tâm thông tin di động Khu vực V tại Hải Phòng.</li>
                            <li>Thành lập Trung tâm Dịch vụ Giá trị gia tăng tại Hà Nội.</li>
                            <li>Cung cấp gói GPRS đầu tiên trên thị trường Việt Nam.</li>
                            <li>Ra mắt giải cuộc Mobifriends, đạt ICT Awards bên lĩnh vực "Gói cước di động xuất sắc nhất năm 2008".</li>
                            <li>Tính đến tháng 04/2008, MobiFone đang chiếm vị trí số 1 về thị phần thuê bao di động tại Việt Nam.</li>
                            <li>Vinh dự đón nhận Huân chương Lao động hạng Nhất giai đoạn 2003 - 2007.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2009</h5>
                        <ul>
                            <li>Thành lập Trung tâm Tính cước và Thanh khoản tại Hà Nội.</li>
                            <li>MobiFone chính thức cung cấp dịch vụ 3G.</li>
                            <li>Đạt mốc thuê bao thứ 30 triệu.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2011</h5>
                        <ul>
                            <li>Thành lập Trung tâm thông tin di động VI tại Đồng Nai.</li>
                            <li>Tháng 7/2011: Vinh dự đón nhận Danh hiệu Anh hùng Lao động do Nhà nước trao tặng.</li>
                            <li>Cung cấp dịch vụ Data Roaming cho thuê bao trả trước - là nhà mạng đầu tiên cung cấp dịch vụ này.</li>
                            <li>Sở hữu 21.100 trạm phát sóng 2G, 11.500 trạm phát sóng 3G.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2013</h5>
                        <ul>
                            <li>Kỷ niệm 20 năm thành lập Công ty Thông tin di động.</li>
                            <li>Vinh dự đón nhận Huân chương Độc lập Hạng Ba giai đoạn 2008 - 2012.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2014</h5>
                        <ul>
                            <li>Ngày 01/07: Ban giao dịch chính thức trở thành đơn vị thuộc Tập đoàn VNPT và Bộ Thông tin và Truyền thông.</li>
                            <li>Ngày 01/12: Nhận quyết định thành lập Tổng công ty Viễn thông MobiFone trên cơ sở tổ chức lại Công ty TNHH một thành viên Thông tin di động.</li>
                            <li>Sở hữu 15.500 trạm 3G.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2015</h5>
                        <ul>
                            <li>Cơ cấu lại bộ máy tổ chức: 20 Ban, phòng chức năng và 20 đơn vị trực thuộc.</li>
                            <li>Đạt mốc 36.000 tỷ đồng.</li>
                            <li>MobiFone chính thức được tái định hình cơ cấu Tổng công ty.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2016</h5>
                        <ul>
                            <li>Tháng 7/2016: Ra mắt dịch vụ truyền dẫn Bắc - Nam - thử nghiệm thành công với 4G.</li>
                            <li>Tháng 8/2016: Tổng ty Viễn thông MobiFone được Bộ Thông tin và truyền thông giao về tự ban Quản lý vốn Nhà nước tại doanh nghiệp đại diện chủ sở hữu.</li>
                        </ul>
                    </div>
                    <div class="timeline-card">
                        <h5>2018</h5>
                        <ul>
                            <li>Tổng công ty Viễn thông MobiFone được Bộ Thông tin và truyền thông bàn giao về Ủy ban Quản lý vốn Nhà nước tại Doanh nghiệp làm đại diện chủ sở hữu.</li>
                            <li>Kỷ niệm 25 năm thành lập Công ty Thông tin di động.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2020</h5>
                        <ul>
                            <li>Tháng 12/2020: MobiFone công bố giải thiết dịch vụ 5G thương mại thử nghiệm.</li>
                        </ul>
                    </div>

                    <div class="timeline-card">
                        <h5>2025</h5>
                        <ul>
                            <li>Chuyển giao quyền đại diện chủ sở hữu vốn Nhà nước tại Tổng công ty Viễn thông MobiFone từ Ủy ban Quản lý vốn Nhà nước tại Doanh nghiệp về Bộ Công an.</li>
                        </ul>
                    </div>
                    <h3>Các giải thưởng của MobiFone</h3>
                    <div class="timeline-card">
                        
                        <h5>Các giải thưởng năm 2024</h5>
                        <ul>
                            <li>Top 100 nơi làm việc tốt nhất Việt Nam năm 2024.</li>
                            <li>Nhận giải thưởng Thương hiệu quốc gia Việt Nam 2024 với 5 thương hiệu sản phẩm nổi bật bao gồm: dịch vụ thoại, mobiEdu, CityTv, mobiAgri và nền tảng số MobiFone.</li>
                            <li>Top 500 doanh nghiệp xuất sắc nhất khu vực Đông Nam Á - Fortune Southeast Asia 500.</li>
                            <li>Top 10 doanh nghiệp tiêu biểu có nền tảng tiêu biểu về Chăm sóc khách hàng và dịch vụ chăm sóc khách hàng trên nền tảng số.</li>
                            <li>Đạt 6 giải thưởng Sao Khuê cho các giải pháp, sản phẩm dịch vụ Truyền hình Internet đa nền tảng dịch vụ Sáng tạo Nội dung (Cloud Gaming), Sàn kết nối việc làm, Sản xuất dịch vụ trên nền tảng giải trí MobiOn Platform.</li>
                        </ul>

                        <h5>Các giải thưởng năm 2023</h5>
                        <ul>
                            <li>Top 100 nơi làm việc tốt nhất Việt Nam năm 2023.</li>
                            <li>Nhận giải thưởng thương hiệu mạnh Việt Nam 2023 do Brand Finance tổ chức.</li>
                            <li>Top 100 nơi làm việc tốt nhất Việt Nam năm 2023 và là Top 5 Doanh nghiệp ngành công nghệ thông tin, viễn thông có môi trường làm việc tốt nhất.</li>
                            <li>Đạt 5 giải thưởng Sao Khuê cho các giải pháp xuất sắc về sản phẩm CNTT tiên tiến cùng các giải pháp nổi bật trong công nghệ, dịch vụ viễn thông và giải pháp Chính phủ số.</li>
                        </ul>
                    </div>

                </div>
            </div>
            

        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row g-4">
        <div class="col-md-4">
            <a asp-action="LichSu" class="text-decoration-none">
                <div class="card text-center p-3 shadow-sm">
                    <img src="~/img/gioithieu/gioithieu_lichsu.png" class="mx-auto" alt="Lịch sử hình thành">
                    <div class="card-body">
                        <h5 class="card-title">Lịch sử hình thành</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="CoCau" class="text-decoration-none">
                <div class="card text-center p-3 shadow-sm">
                    <img src="~/img/gioithieu/gioithieu_cocau.png" class="mx-auto" alt="Cơ cấu tổ chức">
                    <div class="card-body">
                        <h5 class="card-title">Cơ cấu tổ chức</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="CamKet" class="text-decoration-none">
                <div class="card text-center p-3 shadow-sm">
                    <img src="~/img/gioithieu/gioithieu_camket.png" class="mx-auto" alt="Cam kết khách hàng">
                    <div class="card-body">
                        <h5 class="card-title">Cam kết khách hàng</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="TamNhin" class="text-decoration-none">
                <div class="card text-center p-3 shadow-sm">
                    <img src="~/img/gioithieu/gioithieu_tamnhinsumenh.png" class="mx-auto" alt="Tầm nhìn sứ mệnh">
                    <div class="card-body">
                        <h5 class="card-title">Tầm nhìn sứ mệnh</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="QuanLy" class="text-decoration-none">
                <div class="card text-center p-3 shadow-sm">
                    <img src="~/img/gioithieu/gioithieu_qlchatluong.png" class="mx-auto" alt="Quản lý chất lượng">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý chất lượng dịch vụ</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="CongKhai" class="text-decoration-none">
                <div class="card text-center p-3 shadow-sm">
                    <img src="~/img/gioithieu/gioithieu_congkhaitt.png" class="mx-auto" alt="Công khai thông tin">
                    <div class="card-body">
                        <h5 class="card-title">Công khai thông tin</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    .card {
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .title {
        border-bottom: 3px solid #007bff;
        display: inline-block;
        padding-bottom: 5px;
        font-size: 1.5rem;
    }

    .content-section {
        margin-bottom: 20px;
    }
</style>
